<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout (~{::title}, ~{::content})">

    <head>
        <title>Daftar Departemen</title>
    </head>

    <body>
        <!-- konten akan diinject ke ~{::content} -->
        <div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">List Departemen</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nama</th>
                                <th>Kode</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="d : ${listDepartemen}">
                                <td th:text="${d.id}">1</td>
                                <td th:text="${d.nama}">IT</td>
                                <td th:text="${d.codeDept}">IT001</td>
                                <td th:text="${d.status}">ACTIVE</td>
                                <td>
                                    <a th:href="@{'/departemen/form?id=' + ${d.id}}" class="btn btn-sm btn-warning">Edit</a>
                                    <a th:href="@{'/departemen/delete?id=' + ${d.id}}"
                                       onclick="return confirm('Yakin ingin menghapus?')"
                                       class="btn btn-sm btn-danger">Hapus</a>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(list)}">
                                <td colspan="5">Data kosong.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
