<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        
        <link rel="stylesheet" th:href="@{/adminlte/plugins/fontawesome-free/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/adminlte/plugins/select2/css/select2.min.css}">
        <link rel="stylesheet" th:href="@{/adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
        <link rel="stylesheet" th:href="@{/adminlte/css/adminlte.min.css}">
    </head>
    <body>

        <!-- Pakai layout langsung, dan hanya bawa title dan pageTitle -->
        <div th:replace="fragments/layout :: layout ('Sub Departemen', 'Sub Departemen')">
            <!-- isi layout akan otomatis include fragment bernama "content" di halaman ini -->
            <div th:fragment="content">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="card-title">List Sub Departemen</h3>
                        <a th:href="@{/departemen/add}" class="btn btn-sm btn-primary">
                            <i class="fas fa-plus"></i> Tambah Sub Departemen
                        </a>
                    </div>
                    <div class="wrapper">
                        <div class="container mt-5">
                            <form th:action="@{/subdepartemen/index}" method="get" >
                                <div class="form-group">
                                    <label>Departemen</label>
                                    <select id="departemenSelect" name="idDepartemen" class="form-control select2" style="width:100%">
                                        <!-- opsi akan di-load via JS -->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Nama Sub Departemen</label>
                                    <input type="text" class="form-control" name="subdepName" th:value="${nama}">
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>SubDep Name</th>
                                    <th>Departemen</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="d : ${listSubDepartemen}">
                                    <td th:text="${d.subdepId}"></td>
                                    <td th:text="${d.subdepName}"></td>
                                    <td th:text="${d.namaDepartemen}"></td>
                                    <td>
                                        <a th:href="@{'/departemen/edit?id=' + ${d.idDepartemen}}" class="btn btn-sm btn-warning">Edit</a>
                                        <a th:href="@{'/departemen/delete?id=' + ${d.idDepartemen}}"
                                           onclick="return confirm('Yakin ingin menghapus?')"
                                           class="btn btn-sm btn-danger">Hapus</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <script th:src="@{/adminlte/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/adminlte/plugins/select2/js/select2.full.min.js}"></script>
        
        <script th:inline="javascript">
            $(document).ready(function () {
                $('#departemenSelect').select2({
                    placeholder: 'Pilih atau Cari Departemen',
                    allowClear: true,
                    ajax: {
                        url: /*[[@{/subdepartemen/listDepartemen}]]*/,
                        dataType: 'json',
                        delay: 250,
                        processResults: function (data) {
                            return {results: data};
                        }
                    }
                });

                var selectedKode = /*[[${idDepartemen}]]*/ '';
                if (selectedKode) {
                    var option = new Option(selectedKode, selectedKode, true, true);
                    $('#departemenSelect').append(option).trigger('change');
                }
            });
        </script>
    </body>
</html>
