<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head-resources">
         <title>DemoCrud</title>
    </head>
    <body>

        <!-- Pakai layout langsung, dan hanya bawa title dan pageTitle -->
        <div th:replace="fragments/layout :: layout ('Sub Departemen', 'Sub Departemen')">
            <!-- isi layout akan otomatis include fragment bernama "content" di halaman ini -->
            <div th:fragment="content">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="card-title">List Sub Departemen</h3>
                        <a th:href="@{/subdepartemen/add}" class="btn btn-sm btn-primary">
                            <i class="fas fa-plus"></i> Tambah Sub Departemen
                        </a>
                    </div>
                    <div class="wrapper">
                        <div class="container mt-5">
                            <form th:action="@{/subdepartemen/search}" method="get" >
                                <div class="form-group">
                                    <label>Departemen</label>
                                    <select id="departemenSelect" name="idDepartemen" class="form-control select2" style="width:100%">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Nama Sub Departemen</label>
                                    <input type="text" class="form-control" name="subdepName" th:value="${subdepName}">
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>SubDep Name</th>
                                    <th>Departemen</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="d : ${listSubDepartemen}">
                                    <td th:text="${d.subdepId}"></td>
                                    <td th:text="${d.subdepName}"></td>
                                    <td th:text="${d.namaDepartemen}"></td>
                                    <td>
                                        <a th:href="@{'/subdepartemen/edit?id=' + ${d.subdepId}}" class="btn btn-sm btn-warning">Edit</a>
                                        <a th:href="@{'/subdepartemen/delete?id=' + ${d.subdepId}}"
                                           onclick="return confirm('Yakin ingin menghapus?')"
                                           class="btn btn-sm btn-danger">Hapus</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/scripts :: script-resources"></div>
        <script th:inline="javascript">
            $(document).ready(function () {
                $('#departemenSelect').select2({
                    placeholder: 'Pilih atau Cari Departemen',
                    allowClear: true,
                    ajax: {
                        url: /*[[@{/subdepartemen/listDepartemen}]]*/,
                        dataType: 'json',
                        delay: 250,
                        processResults: function (data) {
                            return {results: data};
                        }
                    }
                });

                var selectedKode = /*[[${idDepartemen}]]*/ '';
                var selectedNama = /*[[${namaDepartemenSelected}]]*/ '';
                
                if (selectedKode) {
                    //var option = new Option(selectedNama, selectedKode, true, true);
                    //$('#departemenSelect').append(option).trigger('change');
                    $('#departemenSelect').append(new Option(selectedNama, selectedKode, false, false));
                    $('#departemenSelect').val(selectedKode).trigger('change'); 
                }
            });
        </script>
    </body>
</html>
