<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="fragments/head :: head-resources">
        <meta charset="UTF-8">
        <title>DemoCrud</title>
    </head>

    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo"><b>Demo</b>Crud</div>
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Masuk untuk memulai sesi</p>

                    <form th:action="@{/doLogin}" method="post">
                        <div class="input-group mb-3">
                            <input type="text" name="username" class="form-control" placeholder="Username">
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="fas fa-user"></span></div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="password" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="fas fa-lock"></span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Masuk</button>
                            </div>
                        </div>
                    </form>

                    <p th:if="${param.error}" class="text-danger mt-2">Login gagal!</p>
                    <p th:if="${param.logout}" style="color:green;">Anda telah logout</p>
                </div>
            </div>
        </div>

        <div th:replace="fragments/scripts :: script-resources"></div>

    </body>
</html>



<!--<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><title>Login</title></head>
<body>
    <h2>Login</h2>
    <form th:action="@{/doLogin}" method="post">
        <input type="text" name="username" placeholder="User Name" /><br/>
        <input type="password" name="password" placeholder="Password" /><br/>
        <button type="submit">Login</button>
    </form>
    <p th:if="${param.error}" style="color:red;">Login gagal</p>
    <p th:if="${param.logout}" style="color:green;">Berhasil logout</p>
</body>
</html>-->