<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head-resources">
    </head>
    <body>

        <!-- Pakai layout langsung, dan hanya bawa title dan pageTitle -->
        <div th:replace="fragments/layout :: layout ('Master Karyawan', 'Master Karyawan')">
            <!-- isi layout akan otomatis include fragment bernama "content" di halaman ini -->
            <div th:fragment="content">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="card-title">List Master Karyawan</h3>
                    </div>
                    <div class="wrapper">
                        <div class="container mt-5">
                            <form th:action="@{/masterkaryawan/search}" method="get" >
                                <div class="form-group">
                                    <label>NIK</label>
                                    <input type="text" class="form-control" id="nik" name="nik" th:value="${nik}">
                                </div>
                                <div class="form-group">
                                    <label>Nama Lengkap</label>
                                    <input type="text" class="form-control" id="namaLengkap" name="namaLengkap" th:value="${namaLengkap}">
                                </div>
                                <div class="form-group">
                                    <label>Tanggal Mulai Kerja</label>
                                    <input type="text" class="form-control" id="tglMulaiKerja" name="tglMulaiKerja"
                                           th:value="${tglMulaiKerja}" placeholder="Pilih rentang tanggal">
                                </div>
                                <input type="hidden" name="startDate" id="startDate">
                                <input type="hidden" name="endDate" id="endDate">
                                <div class="form-group">
                                    <label>Departemen</label>
                                    <select id="departemenSelect" name="idDepartemen" class="form-control select2" style="width:100%">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Sub Departemen</label>
                                    <select id="subDepartemenSelect" name="subdepId" class="form-control select2" style="width:100%">
                                    </select>
                                </div>
                                <button type="submit" id="btnSearch" class="btn btn-primary">Search</button>
                                <button type="submit" th:formaction="@{/masterkaryawan/export}" id="btnExport" class="btn btn-success">Export Excel</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered" id="masterKaryawanTable">
                            <thead>
                                <tr>
                                    <th>NIK</th>
                                    <th>Nama Lengkap</th>
                                    <th>Tanggal Mulai Kerja</th>
                                    <th>Departemen</th>
                                    <th>Sub Departemen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="d : ${listMasterKaryawan}">
                                    <td th:text="${d.nik}"></td>
                                    <td th:text="${d.namaLengkap}"></td>
                                    <td th:text="${d.tglMulaiKerja}"></td>
                                    <td th:text="${d.namaDepartemen}"></td>
                                    <td th:text="${d.subdepName}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div th:replace="fragments/scripts :: script-resources"></div>
        <script th:inline="javascript">
            let baseSubdepUrl = /*[[@{/masterkaryawan/getSubdepByDepartemen/}]]*/;
            $(document).ready(function () {
                $('#departemenSelect').select2({
                    placeholder: 'Pilih atau Cari Departemen',
                    allowClear: true,
                    minimumInputLength: 0,
                    ajax: {
                        url: /*[[@{/masterkaryawan/listDepartemen}]]*/,
                        dataType: 'json',
                        delay: 250,
                        processResults: function (data) {
                            console.log("Data dari server departemen", data);
                            let list = [];
                            list.push({ id: '-1', text: 'All' });
                            data.forEach(function(item) {
                                list.push(item);
                            });
                            return {
                                results: list
                            };
                        }
                    }
                });
                var selectedKodeDepartemen = /*[[${idDepartemen}]]*/ '';
                var selectedNamaDepartemen = /*[[${namaDepartemenSelected}]]*/ '';
                
                if (!selectedKodeDepartemen) {
                    selectedNamaDepartemen = 'All';
                }
                
                $('#departemenSelect').append(
                    new Option(selectedNamaDepartemen, selectedKodeDepartemen, true, true)
                ).trigger('change');
        
            });
            
            $(document).ready(function () {
                $('#departemenSelect').on('change', function () {
                    // Kosongkan sub departemen yang sedang dipilih
                    $('#subDepartemenSelect').val(null).trigger('change');
                });
            });
            
            $(document).ready(function () {
                $('#subDepartemenSelect').select2({
                    placeholder: 'Pilih atau Cari Sub Departemen',
                    allowClear: true,
                    minimumInputLength: 0
                });
                
                var selectedKodeSubDepartemen = /*[[${subdepId}]]*/ '';
                var selectedNamaSubDepartemen = /*[[${namaSubDepartemenSelected}]]*/ '';
                
                if (!selectedKodeSubDepartemen) {
                    selectedNamaSubDepartemen = 'All';
                }
                
                $('#subDepartemenSelect').append(
                    new Option(selectedNamaSubDepartemen, selectedKodeSubDepartemen, true, true)
                ).trigger('change');
            });
            
            $(document).ready(function (){
                $('#tglMulaiKerja').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                        format: 'DD-MM-YYYY',
                        cancelLabel: 'Clear'
                    }
                }, function(start, end) {
                    $('#tglMulaiKerja').val(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'));
                });
            });
            
            $(document).ready(function () {
                var table = $('#masterKaryawanTable').DataTable({
                    processing: true,
                    ordering: false,
                    ajax: {
                        url: /*[[@{/masterkaryawan/search}]]*/'',
                        type: 'GET',
                        dataSrc: '',
                        data: function (d) {
                            d.nik = $('#nik').val();
                            d.namaLengkap = $('#namaLengkap').val();
                            d.tglMulaiKerja = $('#tglMulaiKerja').val();
                            d.idDepartemen = $('#departemenSelect').val();
                            d.subdepId = $('#subDepartemenSelect').val();
                        }
                    },
                    columns: [
                        { data: 'nik' },
                        { data: 'namaLengkap' },
                        { data: 'tglMulaiKerja' },
                        { data: 'namaDepartemen' },
                        { data: 'subdepName' }
                    ],
                    pageLength: 10
                });
                
                $('#btnSearch').on('click', function (e) {
                    e.preventDefault();
                    table.ajax.reload();
                    //location.reload();
                });
            });
            
            $(document).ready(function () {
                $('#departemenSelect').on('change', function () {
                    let idDepartemen = $(this).val();
                    let subdepSelect = $('#subDepartemenSelect');
                    
                    console.log("idDepartemen : "+idDepartemen);
                    console.log("url : "+ baseSubdepUrl + idDepartemen);
                    
                    subdepSelect.empty(); // hapus semua option
                    subdepSelect.append('<option value="">Pilih atau Cari Sub Departemen</option>');
                    
                    if (idDepartemen) {
                        $.ajax({
                            url: baseSubdepUrl + idDepartemen,
                            
                            type: 'GET',
                            success: function (data) {
                                data.forEach(function (subdep) {
                                    subdepSelect.append('<option value="' + subdep.subdepId + '">' + subdep.subdepName + '</option>');
                                });
                            }
                        });
                    }
                });
            });
        </script>
    </body>
</html>
